.App {
  font-family: 'Montserrat', sans-serif;
}

.App .Cards{
  padding: 5%;
  display: grid;
  justify-content: space-evenly;
  grid-column-gap: 10px;
  grid-row-gap:50px;
  grid-template-columns: auto auto;
}

.App .Cards .Card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(194, 44, 44, 0.377);
  transition: 0.3s;
  width: 80%;
}

.App .Cards .Card:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 231, 7, 0.24);
}

.App .Cards .Card .MoviePoster {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.App .Cards .Card .Container {
  padding: 0px 20px 20px 20px;
}

.App .Cards .Card .Button {
  cursor: pointer;
  background-color: rgb(75, 74, 73);
  color: white;
  text-align: center;
  padding: 2px;
}

.App .Cards .Card .Button:hover {
  background-color: gray;
}


.App .Cards .Card .Button p {
  font-size: small;
}



